.footer__column-link {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  line-height: 18px;
  font-weight: 400;
  font-size: 18px;
  transition: opacity 0.5s ease-in-out;
}

.footer__column-link:hover {
  opacity: 0.4;
}
