.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 48px;
  top: 47%;
  align-self: flex-end;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.5s ease-out;
}

.feynman__link:hover {
  opacity: 0.4;
}
